*{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.RW{
  display: flex;
  align-items: center;
}
/* .message{
  width: 345px;
} */

.carousel-caption{
  margin-bottom: 210px;
} 

.Star{
  width: 70px;
}

.info li{
    color: rgb(177, 166, 166);

}

.Call{
  margin-top: 20px;
}

.social li{
  color: rgb(177, 166, 166);
}

.horizontal{
  display: none;
}

.Foot{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical{
  height: 200px;
  width: 50px;
}


.carouselExampleCaptions{
  height: 80vh;
}

.HB {
  margin-left: 25px;
}

.carousel-item img{
  filter: brightness(50%);
   height: 80vh;
   object-fit: cover;

}

.R{
  border-radius: 20px;
}


.inner p{
  margin-top: 81px;
}

.icons i{
  font-size: 17px;
  background-color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  color: white;
  border-radius: 52px;
}

.icons i:hover{
  background-color: rgb(33, 89, 68);
  color: rgb(251, 148, 67);
  cursor: pointer;
  transform: translateY(-2px);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0px 4px rgb(0, 78, 45);
}

.nav-link{
  position: relative;
  /* transition: all 0.2s; */
}

.nav-item a:hover {
  color: rgb(251, 148, 67);
}

.info li:hover{
  color: rgb(251, 148, 67);
  cursor: pointer;
}

.social li:hover{
  color: rgb(251, 148, 67);
  cursor: pointer;
}


.firstb :hover{
  background-color: rgb(237, 114, 21);
  color: white;
}

.secondb :hover{
  background-color: green;
  color: white;
}


/* .dropdown-menu a:hover{
  color: rgb(117, 84, 21);
} */
.A:hover::after {
  opacity: 1;
  /* border-bottom: 2px solid orange; */
}

.A::after{
  content: "";
  opacity: 0;
  transition: 0.3s;
  height: 2px;
  width: 100%;
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: 0;

}
/* .navbar-nav a{
  content: "";
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;

} */

.bticon i{
  font-size: 20px;

}

.inner{
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 5000px;
  display: block;
}

.hc1 img{
  margin-left: 30px;

}

.hc1 span{
  margin-left: 30px;
}
.copy{
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  gap: 100px;
}


.Cap img{
  width: 155px;
}
.read-more-btn{
  color: rgb(7, 167, 7);
}
.caption{
  display: block;
}
.hc1 img{
    width: 155px;
}
.hei{
  height: 150px;
}

.circle {
  width: 500px;
  height: 500px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #000
}

.hc2 img{
  margin-top: 5px;
  width: 190px;
}
.CB i{
  font-size: 45px;
  font-size: 43px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  align-items: center;
  /* margin-left: 110px; */
  align-content: center;
  margin-right: 20px;
  /* justify-content: center; */
  gap: 9%;
  margin-left: 118px;
}
.CB p{
  margin-left: 44px;
  font-size: 14px;
}
.number{
  margin-left: 10px;
}
.three img{
  display: flex;
  width: 105px;
}
.right{
  margin-left: 20px;
}
.hei{
  height: 140px;
}
.book p{
  margin-left: 0px;
}
.book h2{
  margin-bottom: 0px;
}

.circle-singleline {
  margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;    
    background: #808080;
    color: #fff;
}
.msg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 230px;
}
.imgflex{
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  color: white;

  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inherit;
  gap: 20px;
  width: max-content;
}
.centered h5{
  margin-top: 90px;
  font-size: large;
}
#img1{
  filter: brightness(50%);
  object-fit: cover;
 width: 45%;
 height: 288px;
}
#img2{
  filter: brightness(50%);
  object-fit: cover;
  width: 45%;
  height: 288px;
}
#img3{
  filter: brightness(50%);
  object-fit: cover;
  width: 45%;
  height: 288px;
}
.img-h img{
  object-fit: cover;
    height: 600px;
}
.sb{
  margin-left: 30px;
}

.b1{
  background-color:rgb(243, 131, 35);;
}

.b2{
  background-color: rgb(0, 78, 45);
}
.bt{
  color: white;
  border-radius: 35px;
  margin-top: 25px;
  height: 50px;
  width: 140px;
}
.main{
    height: 80px;
}
.l{
    width: 50%;
    float: left;
    justify-content: end;
    padding-top: 20px;
}
.r{
    display: flex;
    width: 50%;
    justify-content: center;
    padding-top: 20px;
}
.stars{
    text-align: center;
    margin-top: 30px;
}


.What{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
  
  
  }
  
  .c {
    background-color: white;
    display: flex;
    width: 18%;
    height: 200px;
    border: none ;
    background: none;
  }
  
  .c h4{
    text-align: center;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    padding-top: 5px;
  }
  
  .c p{
  
    display: flex;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px; */
  
  }

  .c1 {
    background-color: white;
    display: flex;
    width: 30%;
    height: 200px;
    border: none ;
    background: none;
  }
  
  .c1 h4{
    text-align: center;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    padding-top: 5px;
  }
  
  .c1 p{
  
    display: flex;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px; */
  
  }

  .container1{
    text-align: center;
  }


  .img{
  object-fit: cover;
  background: linear-gradient(rgba(20, 19, 19, 0.63), rgb(20, 19, 19)), url(dubai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  }
  .what{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    padding: 4rem;
  }
/*  */

.Display{
  padding-top: 80px;
}
.Display img{
  width: 100px;
  height: 100px;
  opacity: 1;
  object-fit: cover;
  border: 4px solid white;
}

.Elec{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Elec h5{
  margin-top: 10px;
}
.Elec p{
  text-align: center;
  width: 364px;
}

.card-text{
  margin-left: 20px;
}

/*  */




  /* .fav {
    padding-top: 65px;
    gap: 145px;
  }
 
.fav img{

  object-fit: cover;
  display: flex;
  width: 38%;
  height: 100px;
  border-radius: 60%;
  border: 3px solid white;
  opacity: 1;
  justify-content: center;
  align-items: center;
  margin-left: 85px;

  
} */
.image{
  object-fit: cover;
  display: flex;
  width: 100%;
  justify-content: end;
  float: left;

}
.image img{
  object-fit: cover;
  width: 635px;
  height: 327px;
}
.point{
  display: flex;
  width: 50%;
  float: right;
}
.point li{
  list-style: none;
}



.chip {
  /* display: inline-block; */
  padding: 0 25px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;

}

.chip img {
  object-fit: cover;
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.main2{
  height: 70px;
}

@media screen and (min-width: 200px ) and (max-width: 567px) {

  .Cap img{
    width: 155px;
  }
.icons{
  display: none;
}

.Call{
  width: auto;
}

.Call{
  margin-top: 0px;
}
.hc1 img {
  margin-left: 0px;
}

.hc1 span {
  margin-left: 0px;
}

.carousel-caption{
  margin-bottom: 199px;
} 

.carousel-caption h2{
  font-size: 17px;
} 


.hc2{
  display: none;
}

.RW{
display: flex;
flex-direction: row;
}

.hc1{
  width: 220px;
}
  .hei {
    height: 303px;
}

.Gap{
  gap: 25px;
}

.Foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Design p{
  text-align: center;
}

.vr{
  display: none;
}
.horizontal{
  display: inline;
}

.vertical{
  display: none;
  height: 0px;
  width: 0px;
}
.carousel-item img{

  height: 60vh;

}

.Herryb{
  font-size: 10px;
}

.HB{
  margin-left: -6px;
}



#img1{
  display: none;
}
#img3{
  display: none;
}

.copy{

  flex-direction: column ;
  margin-left: 0px;
  gap: 25px;
  text-align: center;
}
.CB{
  margin-top: 68px;
  margin-bottom: 100px;
}
.CB i{
  font-size: 35px;
}
.CB p {
  margin-left: 44px;
  width: 215px;
}
.book h2{
    padding-left: 0px;
    width: 318px;
    margin-bottom: 10px;
    margin-top: 10px;

  
}
  .Header {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 20px;
    gap: 9%;
    margin-left: 0px;
  }

  .bt{

    border-radius: 35px;
}


.firstb{
  justify-content: center;
  /* width: 405px; */
  /* height: 0px; */
  margin-top: inherit;
  margin-top: -10px;

}

.secondb{
  justify-content: center;
  /* width: 405px; */
  /* height: 0px; */
  margin-top: inherit;
  margin-top: -10px;
}

.main{
    height: 130px;
}
.l{
    width: 95%;
    float: left;
    justify-content: end;
    padding-top: 20px;
}
.r{
    width: 50%;
    padding-top: 20px;
}

.What{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  margin-top: 30px;
  margin-bottom: 15px;


}

.c {
  background-color: white;
  display: flex;
  width: 96%;
  height: 200px;
  border: none;
  background: none;
}

.Display {
  padding-top: 80px;
  gap: 25px;
}

.what{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  margin-bottom: 15px;
  padding: 4rem;
}

.c1 p{
  
  display: flex;
  text-align: center;
  width: 365px;

}


.fav img {
  display: flex;
  width: 29%;
  height: 100px;
  border-radius: 60%;
  opacity: 1;
  justify-content: center;
  align-items: center;
  margin-left: 128px;
}

.image {
  display: flex;
  width: 100%;

}

.image img {
  object-fit: cover;
  width: 100%;
  height: 285px;
}
.point {
  display: flex;
  width: 100%;

  margin-top: 26px;
}
.flex-row {
  flex-direction: column;
}
.Mes{
  margin-top: 10px;
  margin-left: -15px;
}
.img {
  background: linear-gradient(rgb(0 0 0 / 63%), rgb(0 0 0)), url(img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:  868px;
}
.msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 749px;
  margin-left: 34px;
  width: 333px;
}

.imgflex{
  display: flex;
  flex-direction: column;
}

#img1{
  width: 100%;
  height: 260px;
 }
 #img2{
   width: 100%;
   height: 260px;
 }
 #img3{
   width: 100%;
   height: 260px;
 }
 .sb{
  margin-left: 0px;
}
.main2{
  height: 130px;
}

.centered {

  display: block;

}

.centered h5{
  margin-top: 0px;
  font-size: 20px;
}

.inner {
  height: 140px;
  width: 140px;
  border: 5px solid white;
  border-radius: 5000px;
  display: block;
  margin-left: 77px;
}

.inner p {
  margin-top: 40px;
}

}

@media screen and (min-width: 568px ) and (max-width: 992px) {

  .Header{
    gap: 11%;
    margin-left: 0px;
  }

  .carousel-item img{

    height: 50vh;
  
  }

  .Elec p {
    text-align: center;
    width: 190px;
}
  .message{
    width: 228px;
  }
  .book h2{
    /* margin-right: 180px; */
    font-size: 23px;
  }

  .book p{
    /* margin-right: 180px; */
    font-size: 13px;
  }

  .bt{

    border-radius: 35px;


}
.main{
    height: 130px;
}
.l{
    width: 95%;
    float: left;
    justify-content: end;
    padding-top: 20px;
}
.r{
    width: 50%;
    padding-top: 20px;
}

.What{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 18px;
  margin-top: 30px;
  margin-bottom: 15px;


}

.hc1 img{
  margin-left: 0px;

}

.hc1 span{
  margin-left: 0px;
}
.c p{
  width: 132px;
  flex-wrap: wrap;
}

.c {
  background-color: white;
  display: flex;
  width: 96%;
  height: 200px;
  border: none;
  background: none;
}

.what{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 70px;
  margin-bottom: 15px;
  padding: 4rem;
}

.c1 p{
  
  display: flex;
  text-align: center;
  width: 200px;
}


.fav img {
  display: flex;
    width: 50%;
    height: 100px;
    border-radius: 60%;
    opacity: 1;
    align-items: center;
    margin-left: 51px;
    justify-content: center;
    flex-direction: row;
    /* align-content: center; */

}

.image {
  display: flex;
  width: 100%;

}

.image img {
  object-fit: cover;
  width: 100%;
  height: 330px;
}
.point {
  display: flex;
  width: 50%;
  margin-left: 0px;
}
.flex-row {
  flex-direction: column;
}
.Mes{
  margin-top: 10px;
  /* margin-left: 66px; */
}
.img {
  background: linear-gradient(rgb(0 0 0 / 63%), rgb(0 0 0)), url(img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
}
.msg{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 301px;
  /* margin-left: 34px; */
  width: 720px;
}
.para {
  width: 700px;

}

.CB p{
  margin-left: 44px;
  margin-top: 0px;
}

.chip {
  /* display: inline-block; */
  padding: 0px 10px;
  height: 36px;
  font-size: 18px;
  line-height: 20px;
  margin-left: 6px;
}
.imgflex{
  display: flex;
  /* flex-direction: column; */
}

.firstbt{
    margin-left: -66px;
}

#img1{
  width: 35%;
  height: 260px;
 }
 #img2{
   width: 35%;
   height: 260px;
 }
 #img3{
   width: 30%;
   height: 260px;
 }
 .sb{
  margin-left: -64px;
}
.main2{
  height: 130px;
}

.hc2 img {
  margin-top: 5px;
  width: 159px;
}


}


/* @media screen and (min-width: 992px ) and (max-width: 1438px) {

  .fav img {
    object-fit: cover;
    width: 31%;
    height: 100px;
    border-radius: 60%;
    border: 3px solid white;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-left: 117px;
}

.image img {
  object-fit: cover;
  width: 68%;
  height: 327px;
}

.copy {
  display: flex;
  flex-direction: row;
  margin-left: 230px;
  gap: 100px;
}

} */








 


